<div class="about">
  <div class="main">
    <img src="../../../assets/dataimages/mainimage.png" alt="" width="528px" height="440px" />
    <div class="info">
      <line-text [text]="'About us'"></line-text>
      <h3>E-Learning Platform for Digital Skills</h3>
      <p>
        Empower yourself with the knowledge and skills gained through online
        education! The key to your future! Empower yourself with the knowledge
        and skills gained through online education! The key to your future!
      </p>
      <custom-button [text]="'Learn more'"></custom-button>
    </div>
  </div>
  <div class="numbers">
    <div class="number">
      <h2>15<span>+</span></h2>
      <p>Years of experience</p>
    </div>
    <div class="number">
      <h2>100<span>k</span></h2>
      <p>Students worldwide</p>
    </div>
    <div class="number">
      <h2>45<span>+</span></h2>
      <p>Class subjects</p>
    </div>
    <div class="number">
      <h2>98<span>%</span></h2>
      <p>Student satisfactions</p>
    </div>
  </div>
</div>
