<div class="footer">
  <div class="digilearn">
    <div class="digilearnLogo">
      <img src="../../../assets/logo.svg" alt="logo" />
      <h5>Digilearn</h5>
    </div>
    <p class="footer-p">
      Unlock Digital Mastery Effortlessly! Explore and enhance your skills with
      our user-friendly platform.
    </p>
  </div>
  <div class="cell">
    <h5>Quick links</h5>
    <ul>
      <li>About us</li>
      <li>Our Class</li>
      <li>Blog</li>
      <li>Contact</li>
    </ul>
  </div>
  <div class="cell">
    <h5>Resources</h5>
    <ul>
      <li>Support</li>
      <li>Privacy policy</li>
      <li>Terms & Conditions</li>
    </ul>
  </div>
  <div class="cell">
    <h5>Social media</h5>
    <div class="socialMedia">
      <img src="../../../assets/footerimages/facebook.png" alt="facebook" />
      <img src="../../../assets/footerimages/twitter.png" alt="" />
      <img src="../../../assets/footerimages/instagram.png" alt="" />
      <img src="../../../assets/footerimages/linkedin.png" alt="" />
      <img src="../../../assets/footerimages/youtube.png" alt="" />
    </div>
  </div>
</div>
