.custom-button {
  background: rgb(164, 7, 77);
  color: white;
  display: flex;
  border-radius: 16px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 80px 24px 80px;
  border: none;

  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 2%;
}
.custom-button > img{
  padding-left: 20px;
}